@use 'variables' as v;

body {
    font-family: v.$Fuente_principal;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$negro;
}

/* h1 {
    font-family: $Fuente_principal;
}

p {
    font-family: $Fuente_principal;
}

a {
    font-family: $Fuente_principal;
} */